
.header_container {
    height: 285px;
   display: flex ;
}
.header_image, .header_about-me {

    height: 285px;
}
.header_about-me {
  width:74%;
   
}
.header_image {
    width: 26% ;
    background-image: url(images/myPhoto.jpg);

}
.header_about-me_text_heading {
  text-transform: uppercase;
  color: #00C6F9;
  font-family: 'Poppins';
  font-style: normal;
  letter-spacing: 0.2em;
  font-weight: bold;
  font-size: 18px;
}
.header_about-me_text_descr {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  color: #666666;
  font-size: 16px;
  padding-top: 16px;
  line-height: 1.4em;
  
}
.header_about-me_text {
  width: 47%;
  padding: 40px 20px 20px 46px;
 
}
.info {
  height: 92px;
  display: flex;
  
}
.contacts {
width: 46%;
background-color: brown;
}
.adress {
width: 54%;
background-color: chartreuse;
}