 /* Reset css */
 *{
     margin: 0;
     padding: 0;
 }
.header-container {
    height: 200px;
   /* clear: both;*/
   display: flex ;
   background-image: url("images/backgroundHeader.jpg");
}
.header-image, .header-about-me {
  /* float: left;*/
    height: 200px;
}
.header-about-me {
  width: 80%;
    background-color: rgb(82, 213, 236);
    background-image: url("images/backgroundHeader.jpg");
}
.header-image {
    overflow: hidden;
    position: relative;
    width: 20% ;
    background-color: rgb(82, 213, 236);
}
.myPhoto {
  /*margin: -170px 0 -200px 0;*/
  position: absolute;
  top: -180px;
}
.aboutMe {
  text-transform: uppercase;
  color:rgb(10, 82, 95);
  text-shadow:
  1px 1px 1px silver,
  -1px 1px 1px silver;
}
.text {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(10, 82, 95);
}
.aboutMeText {
  position: absolute;
  width: 50%;
  top: 25px;
  left: 350px;
}
