/* Reset css */
*{
    margin: 0;
    padding: 0;
}
.header-container {
   height: 200px;
   background-color: antiquewhite;
  /* clear: both;*/
  display: flex ;
}
.header-image, .header-about-me {
 /* float: left;*/
   height: 200px;
}
.header-about-me {
 width: 65%;
   background-color: brown;
}
.header-image {
   width: 35% ;
   background-color: black;
}